/* line 12, ../../app/stylesheets/tweetgab.sass */
html {
  height: 100%;
}

/* line 14, ../../app/stylesheets/tweetgab.sass */
body {
  height: 100%;
  background-image: url(/images/dark-tile.gif);
}
/* line 17, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  padding-bottom: 60px;
}
/* line 23, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-header {
  background-color: #333333;
  color: white;
}
/* line 26, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-header .content {
  width: 950px;
  padding: 18px 0px;
  margin: 0px auto;
}
/* line 30, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-body {
  width: 926px;
  margin: 18px auto;
}
/* line 34, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-body #statuses .status {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333333;
  border: 1px solid #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  margin-bottom: 12px;
}
/* line 41, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-footer {
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #333333;
  color: white;
}
/* line 48, ../../app/stylesheets/tweetgab.sass */
body #page-wrapper #page-footer .content {
  width: 950px;
  padding: 18px 0px;
  margin: 0px auto;
}

/* line 53, ../../app/stylesheets/tweetgab.sass */
a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont, bdo, big, blockquote, body, br, button, canvas, caption, center, cite, code, col, colgroup, command, datalist, dd, del, details, dfn, dir, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, frame, frameset, h1, h2, h3, h4, h5, h6, header, hgroup, i, input, ins, keygen, kbd, label, legend, li, mark, menu, meter, nav, noscript, object, ol, optgroup, option, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, title, tr, tt, u, ul, var, wbr {
  font-family: Verdana;
  font-size: 14px;
  line-height: 21px;
}
